__pycache__
dataset
dataset_generator/__pycache__
dataset_generator/hdri
dataset_generator/references
old
venv
venv_ml
NOTAS.md
train/checkpoints
train/logs
train/exported_models
train-pose-estimation/logs
train-pose-estimation/runs
train-pose-estimation/onnx_benchmark_results
train-pose-estimation/evaluation_results
train-pose-estimation/yolo11n-pose.pt
train-pose-estimation/yolo11n.pt
train-pose-estimation/yolo11s-pose.pt
train-pose-estimation/yolo11s.pt
demo/node_modules
demo/models
