__pycache__
dataset
dataset_generator/__pycache__
dataset_generator/hdri
dataset_generator/references
old
venv
venv_ml
NOTAS.md
train/checkpoints
train/logs
train/exported_models
train-pose-estimation_yolo12n/logs
train-pose-estimation_yolo12n/runs
train-pose-estimation_yolo12n/onnx_benchmark_results
train-pose-estimation_yolo12n/evaluation_results
train-pose-estimation_yolo12n/yolo11n-pose.pt
train-pose-estimation_yolo12n/yolo11n.pt
train-pose-estimation_yolo12n/yolo11s-pose.pt
train-pose-estimation_yolo12n/yolo11s.pt
demo/node_modules
demo/models
train-pose-estimation_custom/__pycache__
train-pose-estimation_custom/outputs
